<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<add key="FilesSourceFolder" value="D:\Work\VisualStudio\ConvertorForSOI\testDocs\ConvertExcel\Source"/>
		<add key="FilesConvertFolder" value="D:\Work\VisualStudio\ConvertorForSOI\testDocs\ConvertExcel\Result"/>
		<add key="FilesAllowExtensions" value="doc|docx|xls|xlsx"/>
		<add key="OledbConnection" value="Microsoft.Jet.OLEDB.4.0"/>
		<add key="ExtendedProperties" value="Excel 8.0"/>
		<add key="Dictionaries" value="Dictionaries.ini"/>
	</appSettings>

	<connectionStrings>
		<add name="Nake_data" connectionString="Data Source=194.168.0.140;Initial Catalog=nak_data;Persist Security Info=True;User ID=sa;Password=12345678"/>
		<!--<add name="Nake_data" connectionString="Data Source=194.168.0.222;Initial Catalog=nak_data;Persist Security Info=True;User ID=sa;Password=12345678"/>-->
		<!--194.168.0.127 Test-->
		<!--194.168.0.222 Product-->
	</connectionStrings>
</configuration>