<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>

	<appSettings>
		<add key="FilesSourceFolder" value="D:\Work\VisualStudio\ConvertorForSOI\testDocs\ConvertExcel\Source" />
		<add key="FilesConvertFolder" value="D:\Work\VisualStudio\ConvertorForSOI\testDocs\ConvertExcel\Result" />
		<add key="FilesAllowExtensions" value="doc|docx|xls|xlsx" />
		<add key="OledbConnection" value="Microsoft.Jet.OLEDB.4.0" />
		<add key="ExtendedProperties" value="Excel 8.0" />
		<add key="Dictionaries" value="Dictionaries.ini" />
	</appSettings>

	<connectionStrings>
        <!--Переключение между тестовой базой и рабочей-->
		<add name="Nake_data" connectionString="Data Source=194.168.0.140;Initial Catalog=nak_data;Persist Security Info=True;User ID=sa;Password=12345678" />
		<!--<add name="Nake_data" connectionString="Data Source=194.168.0.222;Initial Catalog=nak_data;Persist Security Info=True;User ID=sa;Password=12345678"/>-->
		<!--194.168.0.140 Test SOI-->
		<!--194.168.0.222 Production SOI-->

        <add name="freska" connectionString="Server=194.168.0.117;Port=5432;Database=freska;User Id=postgres;Password=%CW_&amp;1|t;" />
        <!--<add name="freska" connectionString="Server=194.168.0.203;Port=5432;Database=freska;User Id=postgres;Password="/>-->

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
